<article class="list-group-item todo-item" ng-class="{'todo-completed': vm.todo.completed}">
    <div class="action-bar">
        <a href="" class="glyphicon glyphicon-trash" title="Cancella" ng-click="vm.remove()"><span class="sr-only">Cancella</span></a>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-1">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="{{::vm.todo._id}}" name="completed" id="completed-{{::vm.todo._id}}" ng-checked="vm.todo.completed" ng-click="vm.toggleCompleted()" />
                </label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-11 todo-item">
            <h1 class="list-group-item-heading h4" ng-click="vm.toggleCompleted()">{{::vm.todo.title}}</h1>
        </div>
    </div>
</article>