<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        <meta name="description" content="" />

        <!-- This could be needed in some layouts
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        -->
        <!-- mobile meta (hooray!) -->
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- build:replace /assets/vendors/modernizr/modernizr.min.js -->
        <script src="/assets/vendors/modernizr/modernizr.js"></script>
        <!-- endbuild -->


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />


        <!-- media queries for supporting devices and IE mobile (since it's mobile first) -->
        <!--[if (gt IE 8) | (IEMobile)]><!-->
        <!-- build:css /assets/css/application.min.css -->
            <link rel="stylesheet" href="/assets/css/application.css" />
        <!-- endbuild -->
        <!--<![endif]-->

        <!-- Fixed width style -->
        <!-- build:css /assets/css/application-ie.min.css --><!--[if (lt IE 9) & (!IEMobile)]>
            <link rel="stylesheet" href="/assets/css/application-ie.css" type="text/css" />
        <![endif]--><!-- endbuild -->

    </head>
<!--[if lt IE 9]> <body class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]> <body class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <body> <!--<![endif]-->

    <div class="container">

        <section class="panel panel-default" id="todolist">
            <header class="panel-heading">
                <strong class="h2">Todo List</strong>
            </header>

            <div class="panel-body">

                <form action="" name="todoForm" class="row" novalidate="novalidate">


                    <fieldset class="col-xs-offset-1 col-xs-11">

                        <div class="form-group">
                            <label for="title" class="sr-only">Titolo</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Titolo nuovo task (obbligatorio)" required="true" />
                        </div>

                        <button class="btn btn-primary" type="submit" ><small class="glyphicon glyphicon-floppy-disk"></small> Salva</button>
                    </fieldset>

                </form>

            </div>

            <div class="list-group" id="todolist-items">
                <form action="" name="todoListForm">

                    <article class="list-group-item">
                        <div class="action-bar">
                            <a href="" class="glyphicon glyphicon-trash" title="Cancella"><span class="sr-only">Cancella</span></a>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-1">
                                <div class="checkbox">
                                    <label for="completed">
                                        <input type="checkbox" value="" name="completed" id="completed"/>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-11 todo-item">
                                <h1 class="h4">Todo item</h1>
                            </div>
                        </div>
                    </article>

                </form>
            </div> <!-- /#todolist-items -->


            <footer class="panel-footer">
                <p class="small">Totali: <strong>3</strong> Completati: <strong>1</strong></p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="33" style="width: 33%">33%</div>
                </div>
            </footer>

        </section> <!-- /#todolist -->


    </div>

    <script src="/assets/js/application.js"></script>

    </body>
</html>
