<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        <meta name="description" content="" />

        <!-- This could be needed in some layouts
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        -->
        <!-- mobile meta (hooray!) -->
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- build:replace /assets/vendors/modernizr/modernizr.min.js -->
        <script src="/assets/vendors/modernizr/modernizr.js"></script>
        <!-- endbuild -->


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />


        <!-- media queries for supporting devices and IE mobile (since it's mobile first) -->
        <!--[if (gt IE 8) | (IEMobile)]><!-->
        <!-- build:css /assets/css/application.min.css -->
            <link rel="stylesheet" href="/assets/css/application.css" />
        <!-- endbuild -->
        <!--<![endif]-->

        <!-- Fixed width style -->
        <!-- build:css /assets/css/application-ie.min.css --><!--[if (lt IE 9) & (!IEMobile)]>
            <link rel="stylesheet" href="/assets/css/application-ie.css" type="text/css" />
        <![endif]--><!-- endbuild -->

    </head>
<!--[if lt IE 9]> <body class="lt-ie10 lt-ie9" ng-cloak="" ng-app="todoListApp"> <![endif]-->
<!--[if IE 9]> <body class="lt-ie10" ng-cloak="" ng-app="todoListApp"> <![endif]-->
<!--[if gt IE 9]><!--> <body ng-cloak="" ng-app="todoListApp"> <!--<![endif]-->

    <div class="container">

        <section class="panel panel-default" id="todolist" ng-controller="MainController as main">
            <header class="panel-heading">
                <strong class="h2">Todo List</strong>
            </header>

            <div class="panel-body">

                <form name="form.todoForm" class="row" ng-controller="FormController as form" ng-submit="form.submitForm()" novalidate="true">


                    <fieldset class="col-xs-offset-1 col-xs-11">

                        <div class="form-group">
                            <label for="title" class="sr-only">Titolo</label>
                            <input type="text" class="form-control" autocomplete="off" id="title" name="title" ng-model="form.todo.title" placeholder="Titolo nuovo task (obbligatorio)" required="true" />
                        </div>

                        <button class="btn btn-primary" type="submit" ng-disabled="form.todoForm.$invalid || form.isSubmitting"><small class="glyphicon glyphicon-floppy-disk"></small> Salva</button>
                    </fieldset>
                </form>
            </div>

            <div class="list-group" id="todolist-items" ng-controller="ListController as list">
                <form name="todoListForm">

                    <article class="list-group-item" ng-repeat="todo in list.todos" ng-class="{'todo-completed': todo.completed}">
                        <div class="action-bar">
                            <a href="" class="glyphicon glyphicon-trash" title="Cancella" ng-click="list.remove(todo)"><span class="sr-only">Cancella</span></a>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-1">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" name="completed" id="completed" ng-checked="todo.completed" ng-click="list.toggleCompleted(todo)" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-11 todo-item">
                                <h1 class="list-group-item-heading h4" ng-click="list.toggleCompleted(todo)">{{todo.title}}</h1>
                            </div>
                        </div>
                    </article>

                </form>
            </div> <!-- /#todolist-items -->


            <footer class="panel-footer">
                <p class="small">Totali: <strong>{{main.getTotal()}}</strong> Completati: <strong>{{main.getCompleted()}}</strong></p>
                <div my-progress="main.getPercentage()">{{main.getPercentage() | number:2}}%</div>
            </footer>

        </section> <!-- /#todolist -->


    </div>

    <script src="/assets/js/application.js"></script>

    </body>
</html>
