<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        <meta name="description" content="" />

        <!-- This could be needed in some layouts
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        -->
        <!-- mobile meta (hooray!) -->
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- build:replace /assets/vendors/modernizr/modernizr.min.js -->
        <script src="/assets/vendors/modernizr/modernizr.js"></script>
        <!-- endbuild -->


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />


        <!-- media queries for supporting devices and IE mobile (since it's mobile first) -->
        <!--[if (gt IE 8) | (IEMobile)]><!-->
        <!-- build:css /assets/css/application.min.css -->
            <link rel="stylesheet" href="/assets/css/application.css" />
        <!-- endbuild -->
        <!--<![endif]-->

        <!-- Fixed width style -->
        <!-- build:css /assets/css/application-ie.min.css --><!--[if (lt IE 9) & (!IEMobile)]>
            <link rel="stylesheet" href="/assets/css/application-ie.css" type="text/css" />
        <![endif]--><!-- endbuild -->

    </head>
<!--[if lt IE 9]> <body class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]> <body class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <body> <!--<![endif]-->

    <div class="container" ng-cloak="" ng-app="todoListApp">

        <section class="panel panel-default" id="todolist" ng-controller="MainController as main">
            <header class="panel-heading">
                <strong class="h2">Todo List</strong>
                <button ng-click="main.toggleAllCompleted()">toggle</button>
            </header>

            <div class="panel-body">
                <div my-form on-submit="main.addTodo(data, cb)"></div>
            </div>

            <div class="list-group" id="todolist-items" ng-controller="ListController as list">
                <form name="todoListForm">
                    <article ng-repeat="todo in main.todos track by todo._id" my-todo my-todo-item="todo" on-update="list.update(id, data)" on-remove="list.remove(id)"></article>
                </form>
            </div> <!-- /#todolist-items -->


            <footer class="panel-footer">
                <p class="small">Totali: <strong>{{main.getTotal()}}</strong> Completati: <strong>{{main.getCompleted()}}</strong></p>
                <div my-progress my-progress-perc="main.getPercentage()">{{main.getPercentage() | number:2}}%</div>
            </footer>

        </section> <!-- /#todolist -->


    </div>

    <script src="/assets/js/application.js"></script>

    </body>
</html>
