<form name="vm.todoForm" class="row" ng-submit="vm.submit()" novalidate="novalidate">

    <fieldset class="col-xs-offset-1 col-xs-11">

        <div class="form-group">
            <label for="title" class="sr-only">Titolo</label>
            <input type="text" class="form-control" autocomplete="off" id="title" name="title" ng-model="vm.todo.title" placeholder="Titolo nuovo task (obbligatorio)" required="required" />
        </div>

        <button class="btn btn-primary" type="submit" ng-disabled="vm.todoForm.$invalid || vm.isSubmitting"><small class="glyphicon glyphicon-floppy-disk"></small> Salva</button>
    </fieldset>

</form>